In [1]:
from pyspark.sql import SparkSession
import os
import sys

os.environ["HADOOP_HOME"] = "C:\\Users\\SkJain\\Downloads\\Compressed\\winutils-master\\hadoop-3.2.2"
# os.environ["HIVE_HOME"] = "C:\\Users\\SkJain\\Documents\\BigDataStackWorkspace\\SparkLearn\\apache-hive-3.1.3-bin"
# os.environ["HIVE_LIB"] = "C:\\Users\\SkJain\\Documents\\BigDataStackWorkspace\\SparkLearn\\apache-hive-3.1.3-bin\\lib"
# os.environ["HIVE_BIN"] =  "C:\\Users\\SkJain\\Documents\\BigDataStackWorkspace\\SparkLearn\\apache-hive-3.1.3-bin\\bin"
# os.environ["HADOOP_USER_CLASSPATH_FIRST"] = "true"
sys.path.append('C:\\Users\\SkJain\\Downloads\\Compressed\\winutils-master\\hadoop-3.2.2\\bin')
print(sys.path)

['C:\\Users\\SkJain\\Documents\\BigDataStackWorkspace\\SparkLearn\\ApacheSpark-Notes-and-Resources', 'C:\\Users\\SkJain\\anaconda3\\python38.zip', 'C:\\Users\\SkJain\\anaconda3\\DLLs', 'C:\\Users\\SkJain\\anaconda3\\lib', 'C:\\Users\\SkJain\\anaconda3', '', 'C:\\Users\\SkJain\\AppData\\Roaming\\Python\\Python38\\site-packages', 'C:\\Users\\SkJain\\anaconda3\\lib\\site-packages', 'C:\\Users\\SkJain\\anaconda3\\lib\\site-packages\\locket-0.2.1-py3.8.egg', 'C:\\Users\\SkJain\\anaconda3\\lib\\site-packages\\win32', 'C:\\Users\\SkJain\\anaconda3\\lib\\site-packages\\win32\\lib', 'C:\\Users\\SkJain\\anaconda3\\lib\\site-packages\\Pythonwin', 'C:\\Users\\SkJain\\anaconda3\\lib\\site-packages\\IPython\\extensions', 'C:\\Users\\SkJain\\.ipython', 'C:\\Users\\SkJain\\Downloads\\Compressed\\winutils-master\\hadoop-3.2.2\\bin']

In [2]:
spark = SparkSession. \
    builder. \
    config("spark.ui.port", "0"). \
    enableHiveSupport(). \
    appName('SparkSql'). \
    master('local'). \
    getOrCreate()

In [3]:
spark.sql("SHOW databases").show()

+---------+
|namespace|
+---------+
|  default|
+---------+

In [4]:
spark.sql("CREATE DATABASE IF NOT EXISTS siddhantdb").show()

++
||
++
++

In [5]:
spark.sql("USE siddhantdb")
spark.sql("SELECT current_database()").show()

+------------------+
|current_database()|
+------------------+
|        siddhantdb|
+------------------+

In [6]:
spark.sql("SHOW TABLES").show()

+--------+---------+-----------+
|database|tableName|isTemporary|
+--------+---------+-----------+
+--------+---------+-----------+

In [7]:
create_test_table_query = """ CREATE EXTERNAL TABLE IF NOT EXISTS test(
        test_id INT,
        subject STRING
    ) ROW FORMAT DELIMITED FIELDS TERMINATED BY ','
    STORED AS TEXTFILE
    LOCATION './testTable'
"""

In [8]:
spark.sql(create_test_table_query)

DataFrame[]

In [9]:
spark.sql("SHOW TABLES").show()

+----------+---------+-----------+
|  database|tableName|isTemporary|
+----------+---------+-----------+
|siddhantdb|     test|      false|
+----------+---------+-----------+

In [10]:
spark.sql("SELECT * FROM test").show()

+-------+-------+
|test_id|subject|
+-------+-------+
+-------+-------+

In [11]:
spark.sql("INSERT INTO test VALUES (1, 'MATHS')")

DataFrame[]

In [12]:
spark.sql("SELECT * FROM test").show()

+-------+-------+
|test_id|subject|
+-------+-------+
|      1|  MATHS|
+-------+-------+

In [13]:
create_test_managed_table_query = """ CREATE TABLE IF NOT EXISTS test_managed(
        test_id INT,
        subject STRING
    ) ROW FORMAT DELIMITED FIELDS TERMINATED BY ','
    STORED AS TEXTFILE
"""
spark.sql(create_test_managed_table_query)

DataFrame[]

In [14]:
spark.sql("DESCRIBE FORMATTED test").show(truncate=False)

+----------------------------+----------------------------------------------------------------------------------------------------------------------------------------+-------+
|col_name                    |data_type                                                                                                                               |comment|
+----------------------------+----------------------------------------------------------------------------------------------------------------------------------------+-------+
|test_id                     |int                                                                                                                                     |null   |
|subject                     |string                                                                                                                                  |null   |
|                            |                                                                                                                                        |       |
|# Detailed Table Information|                                                                                                                                        |       |
|Database                    |siddhantdb                                                                                                                              |       |
|Table                       |test                                                                                                                                    |       |
|Owner                       |SkJain                                                                                                                                  |       |
|Created Time                |Wed Apr 13 16:28:04 IST 2022                                                                                                            |       |
|Last Access                 |UNKNOWN                                                                                                                                 |       |
|Created By                  |Spark 3.1.2                                                                                                                             |       |
|Type                        |EXTERNAL                                                                                                                                |       |
|Provider                    |hive                                                                                                                                    |       |
|Table Properties            |[transient_lastDdlTime=1649849143]                                                                                                      |       |
|Statistics                  |8 bytes                                                                                                                                 |       |
|Location                    |file:/C:/Users/SkJain/Documents/BigDataStackWorkspace/SparkLearn/ApacheSpark-Notes-and-Resources/spark-warehouse/siddhantdb.db/testTable|       |
|Serde Library               |org.apache.hadoop.hive.serde2.lazy.LazySimpleSerDe                                                                                      |       |
|InputFormat                 |org.apache.hadoop.mapred.TextInputFormat                                                                                                |       |
|OutputFormat                |org.apache.hadoop.hive.ql.io.HiveIgnoreKeyTextOutputFormat                                                                              |       |
|Storage Properties          |[serialization.format=,, field.delim=,]                                                                                                 |       |
|Partition Provider          |Catalog                                                                                                                                 |       |
+----------------------------+----------------------------------------------------------------------------------------------------------------------------------------+-------+

In [15]:
spark.sql("DESCRIBE FORMATTED test_managed").show(truncate=False)

+----------------------------+-------------------------------------------------------------------------------------------------------------------------------------------+-------+
|col_name                    |data_type                                                                                                                                  |comment|
+----------------------------+-------------------------------------------------------------------------------------------------------------------------------------------+-------+
|test_id                     |int                                                                                                                                        |null   |
|subject                     |string                                                                                                                                     |null   |
|                            |                                                                                                                                           |       |
|# Detailed Table Information|                                                                                                                                           |       |
|Database                    |siddhantdb                                                                                                                                 |       |
|Table                       |test_managed                                                                                                                               |       |
|Owner                       |SkJain                                                                                                                                     |       |
|Created Time                |Wed Apr 13 16:56:40 IST 2022                                                                                                               |       |
|Last Access                 |UNKNOWN                                                                                                                                    |       |
|Created By                  |Spark 3.1.2                                                                                                                                |       |
|Type                        |MANAGED                                                                                                                                    |       |
|Provider                    |hive                                                                                                                                       |       |
|Table Properties            |[transient_lastDdlTime=1649849200]                                                                                                         |       |
|Location                    |file:/C:/Users/SkJain/Documents/BigDataStackWorkspace/SparkLearn/ApacheSpark-Notes-and-Resources/spark-warehouse/siddhantdb.db/test_managed|       |
|Serde Library               |org.apache.hadoop.hive.serde2.lazy.LazySimpleSerDe                                                                                         |       |
|InputFormat                 |org.apache.hadoop.mapred.TextInputFormat                                                                                                   |       |
|OutputFormat                |org.apache.hadoop.hive.ql.io.HiveIgnoreKeyTextOutputFormat                                                                                 |       |
|Storage Properties          |[serialization.format=,, field.delim=,]                                                                                                    |       |
|Partition Provider          |Catalog                                                                                                                                    |       |
+----------------------------+-------------------------------------------------------------------------------------------------------------------------------------------+-------+

In [16]:
spark.sql("DROP TABLE IF EXISTS test")

DataFrame[]

In [17]:
spark.sql("DROP TABLE IF EXISTS test_managed")

DataFrame[]

In [18]:
spark.sql("SHOW TABLES").show()

+--------+---------+-----------+
|database|tableName|isTemporary|
+--------+---------+-----------+
+--------+---------+-----------+

# Assignment

In [20]:
dataset_path = './datasets/nyse_all/nyse_data/'
database_name = 'nysedb'
table_name = 'nyse_eod'

In [22]:
create_db_query = f'CREATE DATABASE IF NOT EXISTS {database_name}'
spark.sql(create_db_query)
spark.sql("SHOW databases").show()

+----------+
| namespace|
+----------+
|   default|
|    nysedb|
|siddhantdb|
+----------+

In [23]:
spark.sql("USE nysedb")
spark.sql("SELECT current_database()").show()

+------------------+
|current_database()|
+------------------+
|            nysedb|
+------------------+

In [27]:
create_table_query = f""" CREATE TABLE IF NOT EXISTS {table_name}(
    stockticker STRING,
    tradeDate STRING,
    openprice FLOAT,
    highprice FLOAT,
    lowprice FLOAT,
    closeprice FLOAT,
    volume BIGINT
) ROW FORMAT DELIMITED FIELDS TERMINATED BY ','
STORED AS TEXTFILE
"""

spark.sql(create_table_query)

DataFrame[]

In [28]:
spark.sql("SHOW TABLES").show()

+--------+---------+-----------+
|database|tableName|isTemporary|
+--------+---------+-----------+
|  nysedb| nyse_eod|      false|
+--------+---------+-----------+

In [31]:
load_data_query = f"LOAD DATA LOCAL INPATH '{dataset_path}' INTO TABLE {table_name}"
spark.sql(load_data_query)

DataFrame[]

In [35]:
spark.sql(f"SELECT * FROM {table_name} ORDER BY volume DESC LIMIT 10").show()

+-----------+---------+---------+---------+--------+----------+----------+
|stockticker|tradeDate|openprice|highprice|lowprice|closeprice|    volume|
+-----------+---------+---------+---------+--------+----------+----------+
|        BAC| 20091204|    15.76|     16.4|   15.62|     16.28|1226792000|
|        AIG| 20080916|     37.0|    104.8|    25.0|      75.0|1215138000|
|        BAC| 20090520|    11.88|    12.24|   11.21|     11.49|1198553000|
|       ORCL| 19971209|   3.8438|      4.0|  3.7344|    3.8281|1030964000|
|        BAC| 20090409|     8.15|     9.85|     8.0|      9.55|1028991000|
|        BAC| 20090507|    14.75|    15.07|   12.78|     13.51| 944016900|
|        BAC| 20090506|    11.93|    12.85|   11.51|     12.69| 923616900|
|        BAC| 20090421|     7.21|     8.93|     7.0|      8.76| 867050400|
|        BAC| 20110825|     8.29|      8.8|    7.38|      7.65| 859643300|
|        BAC| 20090220|     3.61|     4.09|    2.53|      3.79| 838938304|
+-----------+---------+---------+---------+--------+----------+----------+

In [36]:
spark.sql(f'select count(1) from {table_name}').show()

+--------+
|count(1)|
+--------+
| 9384739|
+--------+

In [41]:
spark.sql(f'DESCRIBE FORMATTED {table_name}').show(50, truncate=False)

+----------------------------+-----------------------------------------------------------------------------------------------------------------------------------+-------+
|col_name                    |data_type                                                                                                                          |comment|
+----------------------------+-----------------------------------------------------------------------------------------------------------------------------------+-------+
|stockticker                 |string                                                                                                                             |null   |
|tradeDate                   |string                                                                                                                             |null   |
|openprice                   |float                                                                                                                              |null   |
|highprice                   |float                                                                                                                              |null   |
|lowprice                    |float                                                                                                                              |null   |
|closeprice                  |float                                                                                                                              |null   |
|volume                      |bigint                                                                                                                             |null   |
|                            |                                                                                                                                   |       |
|# Detailed Table Information|                                                                                                                                   |       |
|Database                    |nysedb                                                                                                                             |       |
|Table                       |nyse_eod                                                                                                                           |       |
|Owner                       |SkJain                                                                                                                             |       |
|Created Time                |Wed Apr 13 17:23:22 IST 2022                                                                                                       |       |
|Last Access                 |UNKNOWN                                                                                                                            |       |
|Created By                  |Spark 3.1.2                                                                                                                        |       |
|Type                        |MANAGED                                                                                                                            |       |
|Provider                    |hive                                                                                                                               |       |
|Table Properties            |[transient_lastDdlTime=1649851093]                                                                                                 |       |
|Statistics                  |139239940 bytes                                                                                                                    |       |
|Location                    |file:/C:/Users/SkJain/Documents/BigDataStackWorkspace/SparkLearn/ApacheSpark-Notes-and-Resources/spark-warehouse/nysedb.db/nyse_eod|       |
|Serde Library               |org.apache.hadoop.hive.serde2.lazy.LazySimpleSerDe                                                                                 |       |
|InputFormat                 |org.apache.hadoop.mapred.TextInputFormat                                                                                           |       |
|OutputFormat                |org.apache.hadoop.hive.ql.io.HiveIgnoreKeyTextOutputFormat                                                                         |       |
|Storage Properties          |[serialization.format=,, field.delim=,]                                                                                            |       |
|Partition Provider          |Catalog                                                                                                                            |       |
+----------------------------+-----------------------------------------------------------------------------------------------------------------------------------+-------+